<td class="footer">
  <table class="rbcc footer__main">
    <tr>
      <td class="footer__main__signature" align="left">
        <a href='https://www.govicle.com/vcard/<!-- @echo staffid -->'><strong><!-- @echo name --></strong><br />
          <!-- @echo position --><br />
          <!-- @echo phone --><br />
          <!-- @echo email --><br />
        </a>
      </td>
    </tr>

    <tr class="gray-hr">
      <td><hr class="gray-hr" /></td>
    </tr>

    <tr>
      <table class="rbcc footer__main__col1" align="left">
        <td class="footer__main__col1__td" align="left">
          <p><strong>Govicle Sdn Bhd (1243640-A)</strong><br />
          <a href='https://goo.gl/maps/qAavJEVBP6GcfteQ8'><span>B-1-01 CoPlace2, 2260 Jalan Usahawan 1, 63000 Cyberjaya, Selangor Darul Ehsan, Malaysia.</span></a><br />
          Tel: <a href='tel:+60327123133'>+603 2712 3133</a> • Email: <a href="mailto:elsie@govicle.com" target="_blank">elsie@govicle.com</a></p>    
        </td>
      </table>

      <table class="rbcc footer__main__col2" align="right">
        <td class="footer__main__col2__td" align="right">
          <a href="https://govicle.com">
            <img src="/assets/light.png" alt="Govicle™ Logo" class="footer__main__col2__td__img" />
          </a>
        </td>
      </table>
    </tr>

    <tr>
      <td class="rbcc banner" align="center">
        <img src="/assets/mail_banner_f.gif" alt="Banner" />
      </td>
    </tr>

    <tr>
      <td class="rbcc footer__caption" align="left">
        <small>The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future. Please consider the environment before you print this email.</small>
      </td>
    </tr>
    
  </table>
</td>
