<!-- @include head.inc.html -->

<body class="body-with-bg">
  <table class="background rbcc">
    <tr>
      <td>
        <table class="main rbcc">
          <tr class="rbcc">
            <td class="main__welcome">
              <b>Hi there,</b>
            </td>
          </tr>
          <tr class="rbcc">
            <td class="main__content">
              <p>Thank you for your inquiry. This is an automated response to let you know that we have received your message and will respond as soon as possible.</p>
              <p>Our team is currently experiencing a high volume of inquiries, so please allow up to 24-48 hours for a response. Rest assured, we are working diligently to address your concerns and provide you with the information you need.</p>
              <p>If your matter is urgent, please call our customer service hotline at <a href='tel:+60132401233'><span>+6013 240 1233</span></a> for immediate assistance.</p>
              <p>Thank you for your patience and understanding.</p>
            </td>
          </tr>

          <tr class="sp"><td class="sp__inner"></td></tr>

          <tr class="rbcc">
            <!-- @include footer.inc.html -->
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
